<div>
<label for="categ">Gastos de Transporte</label>
<select name="categ"
        ng-model="categMov.modelCateg"
        categoria-buscada
        ng-options="categ | capitalyzeAll for categ in categMov.maestros.categoriasGastosTransporte">
    <option value=""></option>
</select>
</div>

<div>
<label for="categ">Gastos del Hogar</label>
<select name="categ"
        ng-model="categMov.modelCateg"
        categoria-buscada
        ng-options="categ | capitalyzeAll for categ in categMov.maestros.categoriasGastosHogar">
    <option value=""></option>
</select>
</div>

<div>
<label for="categ">Gastos Sanitarios</label>
<select name="categ"
        ng-model="categMov.modelCateg"
        categoria-buscada
        ng-options="categ | capitalyzeAll for categ in categMov.maestros.categoriasGastosSanitario">
    <option value=""></option>
</select>
</div>

<div>
<label for="categ">Gastos Cotidianos</label>
<select name="categ"
        ng-model="categMov.modelCateg"
        categoria-buscada
        ng-options="categ | capitalyzeAll for categ in categMov.maestros.categoriasGastosDiarios">
    <option value=""></option>
</select>
</div>

<div>
<label for="categ">Entretenimiento</label>
<select name="categ"
        ng-model="categMov.modelCateg"
        categoria-buscada
        ng-options="categ | capitalyzeAll for categ in categMov.maestros.categoriasGastosEntretenimiento">
    <option value=""></option>
</select>
</div>

<div>
<label for="categ">Ahorro</label>
<select name="categ"
        ng-model="categMov.modelCateg"
        categoria-buscada
        ng-options="categ | capitalyzeAll for categ in categMov.maestros.categoriasGastosAhorro">
    <option value=""></option>
</select>
</div>